{% assign domain = site.data.protocol.domains[page.idx] %}

<paper-material elevation="1">
  <h2 class="heading"><span>{{domain.domain}}</span> Domain</h2>

  <p class="description">
    {{domain.description}}
  </p>
</paper-material>

{% if domain.commands %}
<h3>Methods</h3>
<paper-material elevation="1" class="methods">
  <template is="dom-repeat" items="{{domain.methods}}" as="method">
    <viewer-method
      name="{{method.name}}"
      description="{{method.description}}"
      parameters="{{method.parameters}}"
      returns="{{method.returns}}"
      ></viewer-method>
  </template>
</paper-material>
{% endif %}

{% if domain.events %}
<h3>Events</h3>
<paper-material elevation="1" class="events">
  <template is="dom-repeat" items="{{domain.events}}" as="event">
    <viewer-method
      name="{{event.name}}"
      description="{{event.description}}"
      parameters="{{event.parameters}}"
      ></viewer-method>
  </template>
</paper-material>
{% endif %}

{% if domain.types %}
<h3>Types</h3>
<paper-material elevation="1" class="types">
  <template is="dom-repeat" items="{{domain.types}}" as="type">
    <viewer-type
      name="{{type.id}}"
      description="{{type.description}}"
      type="{{type.type}}"
      object-properties="{{type.properties}}"
      allowed-values="{{type.enum}}"
      array-items="{{type.items}}"
      ></viewer-type>
  </template>
</paper-material>
{% endif %}
