{% assign param = include.param %}

<div class="param-pair">
  <dt class="param-name monospace {% if param.optional %}optional{% endif %}">{{param.name}}</dt>
  <dd class="param-def">
    {% if param.type %}
    <span class="param-type">
      {{ param.type }}
      {% if param.items %}
        {% if param.items.type %}
          [{{ param.items.type }}]
        {% else %}
          [{% include type-referral.html type=param.items["$ref"] %}]
        {% endif %}
      {% endif %}
    </span>
    {% endif %}
    {% if param["$ref"] %}
    <span class="param-type">[{% include type-referral.html type=param["$ref"] %}]</span>
    {% endif %}
    {{ param.description }}
  </dd>
</div>
