{% assign type = include.type %}

<div>
  <h4 class="type-name monospace" id="type-{{type.id}}">{{type.id}}</h4>

  <p class="type-description"><html-echo html="{{type.description}}"></html-echo></p>
  <p class="type-type">Type: <strong>{{type.type}}</strong></p>

  {% if type.properties[0] %}
  <h5>Properties</h5>
  <dl class="parameter-list">
    {% for property in type.properties %}
      {% include param.html param=property %}
    {% endfor %}
  </dl>
  {% endif %}

  {% if type.enum[0] %}
  <h5>Allowed values</h5>
  <p>
    {{ type.enum | join: ', ' }}.
  </p>
  {% endif %}
</div>
