html {
  color: #666;
  font-size: 62.5%;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.34);
}

body {
  font-size: 1.4rem;
  padding-top: 2rem;
}/* =14px */

h1, h2, h3, h4 {
  font-weight: normal;
}

h1 {
  font-size: 3.6rem;
}/* =36px */

h3 {
  font-size: 2.2rem;
}

h4 {
  font-size: 2rem;
  margin: 4.1rem 0 1rem;
  color: black;
}

h5 {
  font-size: 1.4rem;
  margin-bottom: 0.5rem;
}

.monospace {
  font-family: Consolas, Menlo, monospace;
}

.parameter-list {
  padding: 1rem 5px;
}

.optional {
  opacity: .8;
}

.optional:after {
  content: "optional";
  opacity: .6;
  font-size: 70%;
  display: block;
}
