<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Chrome Debugger Protocol Viewer</title>

  <script src="{{ site.baseurl }}/bower_components/webcomponentsjs/webcomponents-lite.min.js"></script>

  <link rel="import" href="{{ site.baseurl }}/bower_components/iron-flex-layout/classes/iron-flex-layout.html">
  <link rel="import" href="{{ site.baseurl }}/bower_components/paper-styles/paper-styles-classes.html">
  <link rel="import" href="{{ site.baseurl }}/elements/viewer-app/viewer-app.html">

  <link href="{{ site.baseurl }}/styles/protocol.css" rel="stylesheet">
  <link rel="import" href="{{ site.baseurl }}/styles/app-theme.html">
</head>
<body unresolved class="fullbleed layout vertical">

<paper-drawer-panel id="paperDrawerPanel">
  <div drawer>
    {% include navigation.html %}
  </div>

  <paper-header-panel main mode="waterfall">
    <paper-toolbar id="mainToolbar">
      <paper-icon-button id="paperToggle" icon="menu" paper-drawer-toggle></paper-icon-button>
      <span class="flex"></span>

      <div class="bottom title">Chrome Debugger Protocol Viewer</div>
    </paper-toolbar>

    <div class="content">

      {% if page.idx %}
        {% assign domain = site.data.protocol.domains[page.idx] %}
        {% include domain.html domain=domain %}
      {% else %}
        <paper-material elevation="1">
          {{ content }}
        </paper-material>
      {% endif %}
    </div>
  </paper-header-panel>
</paper-drawer-panel>

{% include github-badge.html %}
</body>
</html>
